.page {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    position: relative;

    .main-section {
        height: calc(100% - 4rem);
        position: relative;
        display: flex;
    }
}

.artist-explorer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.side-bar {
    position: relative;
    border-left: 1px #92929c solid;
    width: 70%;
    height: 100%;

    overflow: hidden;
    overflow-y: scroll;

    .back-button {
        position: absolute;
        top: 0%;
        left: 0%;
        margin: 1rem;
    }

    .artist-image {
        margin: 1rem auto;
        height: 80%;
        max-height: 250px;
        width: auto;
        object-fit: cover;
        aspect-ratio: 1/1;
        display: block;
    }

    .artist-title {
        width: fit-content;
        margin: auto;
        font-size: 2rem;
    }

    .tracks {
        position: relative;
    }
}

.queue-screen {

    h1,
    h2 {
        margin-left: 0.5rem;
    }

    h2 {
        font-size: 1.25rem;
        color: var(--light-grey)
    }
}

@media only screen and (max-width: 800px) {
    .page {
        .main-section {
            height: calc(100% - 4rem);
            position: relative;
            display: flex;

            >* {
                flex-shrink: 0;
            }
        }

        .mobile-top-title {
            position: absolute;
            width: 100%;
            margin-top: 4rem;
            padding: 0.5rem;
            display: flex;
            justify-content: center;

            button {
                margin: auto;
                background: none;
                border: none;
                color: inherit;

                width: fit-content;
                border: 2px var(--blue) solid;
                background-color: var(--dark-grey);
                border-radius: 4rem;
                padding: 0.5rem;

                &:active, &:hover {
                    background-color: var(--blue);
                }
                .artist-title {
                    font-size: 2rem;
                    margin-right: 0.5rem;
                }
                .forward-button {
                    font-size: 1.5rem;
                }

                * {
                    display: inline-block;
                }
            }
        }

        .side-bar {
            width: 100%;
            border-left: none;

            padding-top: 4rem;

            background-color: var(--dark-grey);
            transition: translate 0.2s;

            &.focus {
                translate: -100% 0;
            }

            .artist-image {
                margin: 0rem auto 1rem auto;
                height: 40%;
                max-height: 250px;
                width: auto;
                object-fit: cover;
                aspect-ratio: 1/1;
                display: block;
            }
        }
    }
}