.player {
    position: relative;
    height: 4rem;
    background-color: var(--blue);

    display: flex;


    transition: translate 0.2s;
    &.inactive {
        translate: 0 100%;
    }

    .img-container {
        height: 100%;
        width: auto;
        aspect-ratio: 1/1;
        position: relative;

        img {
            position: absolute;
            width: auto;
            height: 90%;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }

    .track-details {
        margin: 0.5rem;

        .track-name {
            font-weight: 600;
        }

        .artist-name {
            opacity: 0.8;
        }
    }

    .controls {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        pointer-events: none;
        * {
            pointer-events:all;
        }
        .buttons {
            width: fit-content;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            button {
                position: relative;
                font-size: 1.5rem;
                width: 2rem;
                height: 2rem;

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                }
            }
        }
    }

    .progress-bar {
        position: absolute;
        top: 65%;
        left: 50%;
        translate: -50% -50%;
        width: 60%;

        &.mobile {
            top: unset;
            width: 100%;
            bottom: 0%;
            translate: -50% 0;
        }

        .current,
        .duration {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

        .current {
            right: 100%;
            margin-right: 0.5rem;
        }

        .duration {
            left: 100%;
            margin-left: 0.5rem;
        }

    }

    .right-controls {
        position: absolute;
        right: 2rem;
        height: 100%;
        display: flex;

        .control-button {
            position: relative;
            top: 50%;
            translate: 0 -50%;
            margin-right: 0.75rem;

            &.highlighted {
                color: pink;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 4px;
                    height: 4px;
                    border-radius: 4px;
                    background-color: pink;
                }
            }
        }
    }

    .volume-button {
        width: 30px;
    }

    .volume-bar {
        position: relative;
        top: 50%;
        translate: 0 -50%;
        width: 8rem;
    }

    // MOBILE STUFF
    .mobile-click-manager {
        position: absolute;
        left: 0%;
        top: 0%;
        height: 100%;
        width: 100%;
    }
    .mobile-screen {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: var(--dark-grey);
        translate: 0% 100%;
        transition: translate 0.2s;

        display: flex;
        flex-direction: column;

        &.open {
            translate: 0% 0%;
        }
        .screen-close {
            position: absolute;
            top: 0%;
            left: 0%;
            margin: 1rem;
        }
        .img-container {
            width: 90%;
            height: auto;
            aspect-ratio: 1/1;
            position: relative;
            overflow: hidden;
            margin: 8rem auto 1rem auto;
            img {
                position: absolute;
                width: 100%;
                height: auto;
            }
        }
        .bottom-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .track-details {
                width: 90%;
                margin: 0.5rem auto;
        
                .track-name {
                    font-size: 2rem;
                    font-weight: 600;
                }
        
                .artist-name {
                    font-size: 1.5rem;
                    opacity: 0.8;
                }
            }
            .buttons {
                display: flex;
                justify-content: center;
                gap: 2rem;
                font-size: 4rem;
                margin: auto;
                margin-top: 2rem;

                div {
                    width: 4rem;
                    height: 4rem;
                    button {
                        width: 100%;
                        height: 100%;
                        font-size: 4rem;
                    }
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .volume-button,
    .volume-bar {
        display: none;
    }

    .player {
        .right-controls {
            right: 0rem;

            .control-button {
                margin-right: 1.5rem;
            }
        }
    }
}