@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --dark-grey: #121213;
    --blue: #3965a8;
}
body {
    background-color: var(--dark-grey);
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
    transition: opacity 0.1s;
    &:hover {
        opacity: 0.6;
    }
}

.icon-button {
    background-color: unset;
    border: none;
    color: white;
    
    transition: opacity 0.1s, scale 0.1s;
    cursor: pointer;
    
    &:hover {
        opacity: 0.8;
        scale: 1.1;
    }
    &:active {
        scale: 0.9;
    }
    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}