@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --dark-grey: #121213
}
body {
    background-color: var(--dark-grey);
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
    transition: opacity 0.1s;
    &:hover {
        opacity: 0.6;
    }
}