.logo {
    position: absolute;
    width: fit-content;
    top: 0%;
    left: 0%;
    z-index: 1000;
    display: flex;
    margin: 0.25rem;
    transition: scale 0.2s, opacity 0.2s;

    img {
        height: 2rem;
        width: auto;
        aspect-ratio: 1/1;
        margin-right: 0.25rem;
    }
    span {
        font-size: 1.5rem;
        display: block;
        height: 100%;
        line-height: 2rem;
    }
    &:hover {
        scale: 1.03;
    }
}
@media only screen and (max-width: 500px) {
    .logo {
        margin-top: 1rem;
        width: 13rem;
        left: 50%;
        transform: translateX(-50%)
    }
}